<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  		layout:decorate="~{layout}"
  		layout:decorator="layout">

	<head>
		<title th:text="#{sporocila.read.title} + ': ' + ${sporocilo.zadeva}"></title>
		<style>
			.posevno {
				font-style: italic;
			}
			.vsebina{
				padding-top : 20px;
				padding-bottom : 20px;
			}
		</style>
	</head>
	<body>
		<section layout:fragment="content">
			<div id="msg_navbar">
				<a href="/sporocila/poslano" th:text="#{sporocila.poslano}">Poslano</a> | <a href="/sporocila/prejeto" th:text="#{sporocila.prejeto}">Prejeto</a> | <a href="/sporocila/novo" th:text="#{sporocila.nova}">Novo</a>
			</div>
			<h3 th:text="${sporocilo.zadeva}"></h3>
			<div class="posevno" th:text="#{sporocila.read.od} + ': ' + ${sporocilo.avtor.ime} + '&#160;&#160;&#160;&#160;&#160;&#160;' + #{sporocila.read.za} + ': ' + ${sporocilo.prejemnik.ime}"></div>
			<div class="vsebina" th:text="${sporocilo.vsebina}"></div>
			<div th:text="#{sporocila.read.poslano} + ': ' + ${#dates.format(sporocilo.poslano, 'dd.MM.yyyy HH:mm')}"></div>
		</section>
	</body>
</html>