<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" >

	<head>
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{webpage.title}">Schedule Switcher</title>
		<meta charset="UTF-8"/>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style>
			.inline_a {
				display : inline;
			}
			.dropdown-menu {
				min-width: 40px;
			}
			.lang-selector img {
				border : 1px solid black;
			}
		</style>
		<script>
			function vrniElementZLocale(locale){
				var wrapper = document.createElement("SPAN");
				
				var img = document.createElement("IMG");
				img.src = "/images/"+locale+"-lang32.png";
				img.style.border = "1px solid black";
				var span = document.createElement("SPAN");
				span.classList.add("caret");
	
				wrapper.appendChild(img);
				wrapper.appendChild(span);
				return wrapper.innerHTML;
			}
			
			function spremeni_jezik(){
				var jezik = this.getAttribute("data-lang");
				window.location.href = window.location.pathname + "?locale=" + jezik;
			}
			
			function init(){
				var selektorji = Array.from(document.getElementsByClassName("lang-selector"));
				selektorji.map( el => el.addEventListener("click", spremeni_jezik));
				var jezik = getCookie("locale") ? getCookie("locale") : "sl";
				var gumb = document.getElementById("lang-btn");
				gumb.innerHTML = vrniElementZLocale(jezik);
			}
			
			function getCookie(cname) {
			    var name = cname + "=";
			    var decodedCookie = decodeURIComponent(document.cookie);
			    var ca = decodedCookie.split(';');
			    for(var i = 0; i <ca.length; i++) {
			        var c = ca[i];
			        while (c.charAt(0) == ' ') {
			            c = c.substring(1);
			        }
			        if (c.indexOf(name) == 0) {
			            return c.substring(name.length, c.length);
			        }
			    }
			    return "";
			}
			function loadSettingsPage(){
				window.location.href="/uporabnik/nastavitve";
			}
			function loadAdminPage(){
				window.location.href="/admin/";
			}
			function loadModPage(){
				window.location.href="/moderator/";
			}
		</script>
	</head>

	<body onload="init();">
		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/" th:text="#{webpage.title}"></a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li style="padding-right:20px;padding-top:15px" th:if="${trenutniUporabnik}">
							<span th:text="${trenutniUporabnik.ime}"></span>
						</li>
						<li style="padding-right:20px;padding-top:10px" title="Admin" th:if="${trenutniUporabnik != null && trenutniUporabnik.imaVlogo('ADMIN')}">
							<a onclick="loadAdminPage()" href="#" style="color:black;padding:0">
								<span class="glyphicon glyphicon-wrench" style="font-size: 150%;"></span>
							</a>
						</li>
						<li style="padding-right:20px;padding-top:10px" title="Mod" th:if="${trenutniUporabnik != null && trenutniUporabnik.imaVlogo('MOD')}">
							<a onclick="loadModPage()" href="#" style="color:black;padding:0">
								<span class="glyphicon glyphicon-pencil" style="font-size: 150%;"></span>
							</a>
						</li>
						<li style="padding-right:20px;padding-top:10px" title="Nastavitve" th:if="${trenutniUporabnik} != null">
							<a onclick="loadSettingsPage()" href="#" style="color:black;padding:0">
								<span class="glyphicon glyphicon-cog" style="font-size: 150%;"></span>
							</a>
						</li>
						<li style="margin-right:20px;padding-top:10px">
							 <span class="btn-group">
							 	<a id="lang-btn" class="dropdown-toggle" data-toggle="dropdown" href="#">
							 		<img src="/images/sl-lang32.png" style="border:1px solid black"/><span class="caret"></span>
							 	</a>
							 	<ul class="dropdown-menu">
									<li>
										<a href="javascript:void(0);" data-lang="en" class="lang-selector">
											<img src="/images/en-lang32.png"/>
										</a>
									</li>
									<li>
										<a href="javascript:void(0);" data-lang="sl" class="lang-selector">
											<img src="/images/sl-lang32.png"/>
										</a>
									</li>						 	
							 	</ul>
							 </span>
						</li> 
				    </ul>
				</div>
			</nav>
		</header>
		<div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="active"><a href="/" th:text="#{webpage.nav.home}"></a></li>
                    <li>
                    	<a href="/sporocila/prejeto">
                    		<span th:text="#{webpage.nav.sporocila}"></span>
                    		<span style="color:red" th:if="${stNeprebranih} > 0" th:text="'(' + ${stNeprebranih} + ')'"></span>
                    	</a>
                    </li>
                    <li><a href="/termin">Moji termini</a></li>
                    <li><a href="/isci-termine">Išči termine</a></li>
                    <li class="nav-divider"></li>
                    <li>
                    	<a th:if="${trenutniUporabnik} != null" href="/logout"><i class="glyphicon glyphicon-off"></i>&#160;<span th:text="#{webpage.nav.logout}"></span></a>
                    	<a th:if="${trenutniUporabnik} == null" href="/login"><i class="glyphicon glyphicon-off"></i>&#160;<span th:text="#{webpage.nav.login}"></span></a>
                    </li>
                </ul>
            </nav>
        </div>
		<section class="col-sm-10" layout:fragment="content"></section>
	</body>
</html>