<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  		layout:decorate="~{layout}"
  		layout:decorator="layout">

	<head>
		<title>Register</title>
	</head>
	
	<body>
		<section layout:fragment="content">
			<div th:text="${successMessage}"></div>
			<p>Potrditveno sporočilo je bilo poslano na vaš elektronski naslov. Pred prijavo ga morate aktivirati!</p>
		</section>
	</body>
</html>