<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  		layout:decorate="~{layout}"
  		layout:decorator="layout">

	<head>
		<title th:text="#{index.title}"></title>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script>
			function init_search_for_mod(){
				document.getElementById("uporabnik").addEventListener('input', autocomplete);	
			}
			function autocomplete(evt){
				if(this.value.length > 1){
					var podatki = {query : this.value};
					var rezultat = [];
					$.ajax({
						type : "GET",
						url : "/sporocila/get-users",
						dataType : "json",
						contentType : "application/json",
						async : true,
						data : podatki,
						success : function(res){
							for(var i = 0; i < res.length; i++){
								rezultat.push(res[i].ime);
							}
							var uporabnik = document.getElementById("uporabnik");
						    $(uporabnik).autocomplete({
								source: rezultat
						    });
						},
						error : function(res){
							console.log("error!");
						}
					});
				}
			}
			
			function makeUserMod(){
				var data = document.getElementById("uporabnik").value;
				var request = new XMLHttpRequest();
				request.open("POST", "/moderator/edit/uporabnik", true);
				request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
				request.send(data);
				request.onload = function() {
					if (request.status >= 200 && request.status < 400) {
					  // Success!
					  var resp = request.responseText;
					  var alert = document.getElementById("msg_user_mod");
					  alert.style.display = "block";
					} else {
					  // We reached our target server, but it returned an error
					console.log("error");
					}
				};
			}
			function toggleNovPredmet(){
				$("#novPredmet").toggle("slow");
			    $(".skrit:visible").not("#novPredmet").hide();
			}
			function toggleNovaEnota(){
				$("#novaEnota").toggle("slow");
				$(".skrit:visible").not("#novaEnota").hide();
			}
		</script>
		<style>
			.skrit {
				display : none;
			}
		</style>
	</head>
	<body>
		<section layout:fragment="content">
			<h3>Moderator homepage</h3>
			<div class="col-sm-12" th:if="${stNeresenih} > 0" style="color:red;font-size:16px;"> 
				<span>st neresenih: </span>
				<a href="/moderator/neresene-zahteve" th:text="${stNeresenih}"></a>
			</div>
			<div class="col-sm-12">
				<h4 style="padding-bottom:10px;">Uredi</h4>
				<div class="col-sm-4">
					<form method="GET" th:action="@{/moderator/edit/predmet}">
						<div class="form-group">
							<label for="predmet">Predmet</label>
							<select id="predmet" name="predmet" class="form-control">
								<option value="-1">Izberi predmet</option>
								<option th:each="predmet : ${vsiPredmeti}" th:value="${predmet.id}" th:text="${predmet.predmet} + ' - ' + ${predmet.enota.naziv}"/>					
							</select>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="col-sm-4">
					<form method="GET" th:action="@{/moderator/edit/enota}">
						<div class="form-group">
							<label for="enota">Enota</label>
							<select id="enota" name="enota" class="form-control">
								<option value="-1">Izberi enoto</option>
								<option th:each="enota : ${vseEnote}" th:value="${enota.id}" th:text="${enota.naziv}"/>					
							</select>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="uporabnik">Dodaj moderatorja</label>
						<input type="text" id="uporabnik" name="uporabnik" class="form-control"/>
						<script>
							init_search_for_mod();
						</script>
					</div>
					<div class="alert alert-info alert-dismissable" style="display:none" id="msg_user_mod">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						Uporabnik je bil nastavljen za moderatorja!
					</div>
					<button type="button" onclick="makeUserMod()" class="btn btn-default">Submit</button>
				</div>
			</div>
			
			<div class="col-sm-4" style="padding-top:20px">
				<h4 style="padding-bottom:10px;">Dodaj</h4>
				<button id="novPredmetBtn" onclick="toggleNovPredmet()" class="btn btn-default">Nov predmet</button>
				<button id="novaEnotaBtn" onclick="toggleNovaEnota()" class="btn btn-default">Nova enota</button>
				<div id="novPredmet" class="skrit">
					<h5>Nov predmet</h5>
					<form method="POST" th:action="@{/moderator/novo/predmet}" th:object="${novPredmetObj}">
						<div class="form-group">
							<label for="oznaka">Oznaka</label>
							<input type="text" th:field="*{oznaka}" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="predmet">Naziv</label>
							<input type="text" th:field="*{predmet}" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="nosilec">Nosilec</label>
							<input type="text" th:field="*{nosilec}" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="letnik">Letnik</label>
							<select id="letnik" name="letnik" th:field="*{letnik}" class="form-control">
								<option value="1" label="1. letnik" selected="selected">1. letnik</option>
								<option value="2" label="2. letnik" >2. letnik</option>
								<option value="3" label="3. letnik" >3. letnik</option>
							</select>
						</div>
						<div class="form-group">
							<label for="enota">Enota</label>
							<select id="enota" th:field="*{enota}" class="form-control">
								<option th:each="item : ${vseEnote}" th:value="${item.id}" th:text="${item.naziv}"/>
							</select>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<div id="novaEnota" class="skrit">
					<h5>Nova enota</h5>
					<form method="POST" th:action="@{/moderator/novo/enota}" th:object="${novaEnotaObj}">
						<div class="form-group">
							<label for="naziv">Naziv</label>
							<input type="text" th:field="*{naziv}" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="oznaka">Oznaka</label>
							<input type="text" th:field="*{oznaka}" class="form-control"/>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</section>
	</body>
</html>